/*---------------------------------------EXTERNAL RESOURCES LOADED INTO THIS FIDDLE:
jquery-3.4.1.slim.js
bootstrap.css
popper.js
bootstrap.js
font-awesome.css
Google-Font-------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*----------------------------------------header*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
}


header {
    margin: 0;
}

div {
    display: block;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0;
}

.bg-color-title{
    background-color: #3e2723;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 0;
    height: auto;
    min-width: 100%;
    display: inline-block;
}

.bg-color-title a:hover{
    color: rgba(0, 0, 255, .2);
}

.sticky-header {
  padding: 16px;
 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky + .sticky-header {
  padding-top: 50px;
}

.head-title{
    margin: 0;
    padding: 0;
    border: none;
    
}
.head-title h2{
    font-family: "Indie flower", sans-serif;
    font-weight: 700;
    font-size: 4hw;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    letter-spacing: 6px;
    color: #fafafa;
    display: inline-block;
    clear: both;
    position: relative;

}

.head-title:hover{
    background-color: #3e2723 ;
}

  
.list-list{
    margin: 0;
    padding-top:0;
    border: none;
    width: 100%;
    align-items: center;
    text-align: center;
   min-height: 80px;
    
}
.bg-color-list{
    background-color: #795548 ;
    margin: 0;
    border: none;
   min-height: 80px;
    min-width: 100%;
    display: inline-block;
    padding-top: 25px ;
    
}

.heading-list{
    padding-top: 0;
    padding-bottom: 0;
    margin:0;
}

.bg-color-cart{
    color: #fafafa;
    padding: 10px;
    margin-right: 0;
}

.list-info{
    font-family: "Indie flower", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-variant: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.rounded-pill {
    font-size: 20px;
    background-color: #a094b7 ;
}

.form-control{
    font-size: 15px;
    align-items: center;
    text-transform: none;
    color: #212121;
    
    width: 50%;

}




.btn-link{
    margin-left: 10px;
    border-radius: 20px;
    background-color:#3e2723;
    border: none;
    font-size: 20px;
    padding-top: 5px;
}

.search{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #fafafa;
    padding-bottom: 0px;
    padding:0;


}


 
/*--------------------------------------------------Home-section*/
.carousel-inner{
    min-width: 100%;
    position: relative;
}

.carousel-item img{
    min-width: 100%;
    max-height: 400px;
    align-items: center;
    display: block;  
}
.objectiv-fit{
    object-fit: cover;
}


.carousel-control-prev span{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    color: #fafafa;
    font-style: italic;
}

.carousel-control-next span{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-right: 10px;
    color: #fafafa;
    font-style: italic;
    
}


.flex-column {
display: flex;
align-content: center;
height: 150px;
width: 100%;
}

.flex-column a{
    text-align: center;
    text-decoration: none;
}
    
.flex-column a h3{
    text-align: center;
    color: #321911;
    font-family: "Indie Flower", sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;
    text-decoration: none;
    clear: both;
    text-shadow: 2px 2px #a094b7;
}

.flex-column a h3:hover{
  color: #a094b7;
  font-size: 30px;
  
}


 


div .book-menu a:hover {
    text-decoration: none;
    color: rgba(12, 82, 14, 0.63);
}



.card-link{
    color: white;
  

}

.card-link:hover {
    color: #fcf3f3;
    font-size: larger;
    text-transform: uppercase;
}

.uppercase{
    text-transform: uppercase;
}

.card-text{
     border-top: 1px solid #777777;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    clear: both;
    line-height: 25px;
    letter-spacing: 1px;
    float:right;
    padding-top: 2px;
    color: #fafafa;
    line-height: 25px;
}

 

.card-title{
    font-family: "Indie Flower", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fafafa;
    

}

.card-title h5{
    text-align: center;
    

}

.card-subtitle{
    margin: 2px 0;
    padding: 2px 3px;
    color: #fafafa;

}
.card-body{
    background-color: #8b6b61;
    float: right;
    max-width: 400px;
    min-height: 400px;
    border: none;   
    padding: 15px;
    overflow: hidden;
    align-items: center;
   box-shadow: 5px 5px;    

}

.card {
    margin: 0;
    padding-bottom:0;
    border: none;

    

}

#bg-color-card{
    background-color: #fafafa;
    padding: 20px 10px;
    margin-right: 0;
   
}

.break{
    margin:0;
    padding-top: 30px;
    
}

/*--------------------------------------------------footer*/


.bg-color-head {
    color: #fafafa;
    background: #3e2723;
    padding-top: 20px;
}
.footer-classic {
    border: none;
    margin: none;
    min-height: 380px;
    width: 100%;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    
    
}


.footer-logo img{
    padding-left: 0%;
    left: 0;
   
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #fafafa;
}

.footer-classic a:hover{
    color: white;
}
.contact-list-item h5{
    margin: 0;
    right:0;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    font-style: oblique;
    text-decoration: none;
    text-transform: uppercase;
    float: none;
    text-align: center;
}

.contact-list dt,
.contact-list dd {
    margin: 0;
    right:0;
    left: 0;
    float: none;
    float: none;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.0em;
    text-decoration: none;
    text-transform: uppercase;
    clear: both;
    letter-spacing: 2px;
    text-align: center;
    
}
.link-list h5{
    margin: 0;
    right:0;
    left: 0;
    float: none;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    font-style: oblique;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
}
.nav-list li {
    margin: 0;
    right:0;
    left: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "indie flower", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    
}


.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: hidden;
    text-decoration: none;
    
    
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
} 

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1,25rem;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
}
.social-container .col {
    border: 1px solid #1b0000;
}
.nav-list li a:before {
    content: "\f14f";
    font-family: "roboto", sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: sub;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

/*------------------------------------------Books-section*/
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
}

#books-container{
    position: relative;
    background-color:#fafafa;
    width: 100%;
   min-height: 400px;
    margin: 0;
    padding: 0;
    clear: both;
   
}


.read-import{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000063;
    padding: 10px 15px;
    text-shadow: 2px 2px  rgba(0, 0, 255, .2) ;
}

.read-para{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    float: right;
    text-transform: capitalize;
    color: #212121;
    letter-spacing: 2px;
    padding: 5px 5px;
    line-height: 20px;

    
}

.read-more{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #1a237e;
    letter-spacing: 2px;
    padding-left: 5px;
    text-transform: uppercase;

}

.read-more a:hover{
    text-decoration: none;


}

.book-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin:0;
 
}

/* Create four equal columns that sits next to each other */
.book-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  column-gap: 2px;
}

.book-column img {
  margin-top: 20px;
  
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1199.98px) {
  .book-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .book-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*---------------------------------------------------------Book-One-Page*/

.tb-book-one-img{
   padding: 25px;
  
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
  opacity:1;

}

.book-hov img:hover{
    -ms-transform: skewX(5deg); 
  transform: skewX(5deg); 

}

.td-book{
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-top: 10px;
    margin:0;
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1b0000;
}

.about-link:hover{

    text-decoration: none;

}

.td-title{
    padding-top: 2px;
    margin:0;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    color: #5d4037;

}

.td-title-one{
    padding-top: 1px;
    margin:0;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    color: #5d4037;

}
.book-one-detail{
    padding-top: 5px;
    margin:0;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform:none;
    padding-left: 10px;
    padding-right: 10px;
}
.td-notice{
    display: block;
    padding-top: 5px;
    font-weight: bold;
    padding-left: 5px;
}


.tb-book-one-img{
    border: none;
    padding: 0;
    margin: 20px 30px;
}



.bg-retile-book{
    background-color: #795548;
    min-height: 350px;
    width: 75%;
    margin-bottom: 20px;
    margin-top: 35px;
   


}

.bg-retile-book h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #fafafa;
    letter-spacing: 2px;
    padding-top: 5px;
    
}

.img-book{
     display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 35px;
    padding-right: 3px;

}


